.kozep{
    padding-left: auto;
    padding-right: auto;
}
.w-85{
    width: 85%;
}
.h-85{
    height: 85% !important;
}
.relative{
    position: relative !important;
}
.card:hover{
    border: 5px solid lightblue;
}
.mt-sok{
    margin-top: 5%;
}

.overlay {
    position:fixed;
    display:none;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0, 0, 0, 0.8);
    z-index:9999;
}
.close {
    position:absolute;
    top: 10px;
    right: 10px;
    width:25px;
    height:25px;
    cursor:pointer;
    color: black;
    display: inline-block;
}
.close2 {
    position:absolute;
    top: 40px;
    right: 320px;
    width:25px;
    height:25px;
    cursor:pointer;
    color: black;
    display: inline-block;
}
.popup {
    position:fixed;
    width:50%;
    height:50%;
    top:25%;
    left:25%;
    text-align:center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px black;
} 
#adatok th {
    text-align: right;
}
#adatok td {
    text-align: left;
}
#kep {
    height: 95%;
}
.vissza {
    color: black;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
.vissza:hover {
    color: grey;
}
.rounded-3 {
    border: 2px solid black;
    color: black;
    background-color: white;
}
.rounded-3:hover {
    background-color: lightgrey;
}
.rounded-3:active {
    background-color: grey
    ;
}
.card-img-top {
    height: 400px;
    width: 100%;
}
.rejt {
    display: none;
}
.bg-secondary {
    background-color: rgb(35, 61, 77) !important;
}
a {
    color: rgb(243, 222, 138);
}
a:hover {
    color: rgb(45, 194, 189);
} 
.slidekep {
    height: 500px;
    width: 1000px !important;
}
.carousel {
    margin: auto;
}
.mb-10 {
    margin-bottom: 20rem;
}
.h-95 {
    height: 95%;
}